$columbia-blue: #C8E0F4;
$air-force-blue: #508AA8;
$baby-blue: #9DD1F1;
$rich-black: #031927;
$engineering-orange: #BA1200;

* {
  margin: 0;
}

body {
  width: 100%;
  background-color: $rich-black;
}

a {
  text-decoration: none;
  color: $columbia-blue;
}

header {
  max-width: 600px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0px 20px 0px 20px;
  align-items: center;
  margin: 50px auto 0px auto;
  a {
	  display: flex;
	  align-items: center;
	  height: 100%;
  }
  img {
	  width: 120px;
	  background-color: $baby-blue;
	  border-radius: 2rem;
	  padding: 10px 30px 10px 30px;
	  cursor: pointer;
  }
}

.search {
  width: 100%;
  height: 100%;
  border: none;
  background-color: $columbia-blue;
  border-radius: 2rem;
  padding: 15px;
  &:focus {
	  outline: none;
  }
  &::-webkit-search-cancel-button {
	  display: none;
  }
}

.search-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.clear-button {
	position: absolute;
	right: 20px;
	top: 50%;
	background-color: transparent;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;
	&::before {
		position: absolute;
		right: 0;
		border-radius: 1rem;
		display: inline-block;
		content: '';
		height: 2px;
		width: 17px;
		background-color: $rich-black;
		transform: rotate(45deg);
	}
	&::after {
		position: absolute;
		right: 0;
		border-radius: 1rem;
		display: inline-block;
		content: '';
		height: 2px;
		width: 17px;
		background-color: $rich-black;
		transform: rotate(-45deg);
	}
}

.gallery {
	width: 90%;
  	min-height: 100vh;
	margin: 40px auto 40px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.gallery-img {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	object-fit: cover;
	cursor: pointer;
	transition: .5s ease-in-out;
	opacity: 0;
	&:hover {
		transform: translateY(-10px);
	}
	&.loaded {
		opacity: 1;
	}
}

.show-more {
	display: block;
	width: 140px;
	height: 50px;
	border: 2px solid $air-force-blue;
	border-radius: 1rem;
	background-color: transparent;
	color: $columbia-blue;
	font-size: 1rem;
	cursor: pointer;
	margin: 0 auto 60px auto;
	transition: .4s ease;
	&:hover {
		color: white;
		font-size: 1.1rem;
		border: 2px solid white;
	}
}

.hidden {
	opacity: 0;
	margin: 0 auto;
	height: 1px;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #508aa8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  img {
  	width: 70px;
  }
}

@media (max-width: 768px) {
	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}
	.gallery-img:hover {
		transform: none;
	}
	.show-more:hover {
		color: $columbia-blue;
		font-size: 1rem;
		border: 2px solid $air-force-blue;
	}
}

@media (max-width: 500px) {
	.gallery {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 420px) {
	header  {
		flex-direction: column;
		height: 100px;
	}
}
